<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="petstore">
	<listeners>
		<listener class-name="api.utilities.ExtentReportManager"></listener>
		</listeners>
  <test thread-count="5" name="petuserstests">
    <classes>
   <!--   <class name="api.tests.DataDrivenTests"/> -->
      <class name="api.tests.UsersTest2"/>
    </classes>
  </test> <!-- petuserstests -->
</suite> <!-- petstore -->
